.columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    grid-gap: 3em;

    .column {

        &--1 {

            h1,
            h2,
            h3 {
                margin-top: 0;
            }
        }
    }
}
