figure {
    position: relative;
    display: block;
    border-radius: 0.125em;
    overflow: hidden;
    transform: translate(0, 25px) rotateX(10deg);
    transition: transform 0.9s;
    transition-delay: 600ms;
    transition-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1);

    &::before {
        content: '';
        display: block;
        padding-bottom: calc(100% / var(--aspect));
    }

    &.lazy-processing {
    }

    &.lazy-complete {
        transform: translate(0, 0) rotate(0);
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &.lazyload {
        }

        &.lazyloading {
        }

        &.lazyloaded {
        }
    }
}

// animation-delay: 300ms;
// animation-timing-function: cubic-bezier(0.03, 0.15, 0.16, 0.99);
// animation-duration: 1100ms;
// animation-fill-mode: both;
// animation-name: slide-in-down;

// @keyframes slide-in-down {
// 	0% {
// 		-webkit-transform: translate3d(0, -100%, 0);
// 		transform: translate3d(0, -100%, 0);
// 		visibility: hidden;
// 	}
// 	100% {
// 		-webkit-transform: translate3d(0, 0, 0);
// 		transform: translate3d(0, 0, 0);
// 		visibility: visible;
// 	}
// }
