.tags {
    display: flex;
    align-items: center;

    .tag {
        display: flex;
        align-items: center;
        margin-right: 0.25em;
        margin-bottom: 0.25em;
        padding: 0.3em 0.75em;
        font-size: 0.875rem;
        font-weight: 600;
        border-radius: 1em;
        color: #fff;
        background-image: url('../img/noise.png');
        background-blend-mode: overlay;

        &[data-type="Design"] {
            background: c('primary-base');
        }

        &[data-type="Development"] {
            background: c('secondary-base');
        }
    }
}
