$color-000: #3c4044;
$color-100: #262626;
$color-grey-100: #e0e6ef;

$colors: (
    base: (
        0: #3c4044,
        1: #212121,
        2: #1a1a1a,
    ),
    grey: (
        0: #e0e6ef,
    ),
    primary: #F1F2F3,
    secondary: blue,
);
