header.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    height: $header-height;
    pointer-events: none;

    .container {
        position: relative;
        max-width: 1400px;
        margin: 0 auto;
        z-index: 9999;
    }

    .group {
        display: flex;
        justify-content: center;
        padding: 1em;
    }

    button {
        position: relative;
        padding: 0;
        pointer-events: all;

        &:hover {

            .navicon__container {
                transform: rotateZ(90deg);
                background: radial-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.01));
            }

            svg {
                perspective: 2000px;
                transform-style: preserve-3d;

                rect {
                    rx: 1px;
                    height: 32px;
                    width: 0.5px;
                    y: 8px;
                    will-change: transform;
                    fill: c('base-2');

                    &:nth-of-type(1) {
                        x: 12px;
                    }

                    &:nth-of-type(2) {
                        x: 23px;
                    }

                    &:nth-of-type(3) {
                        x: 34px;
                    }
                }
            }

        }

        &.active {

            .navicon__container {
                transform: rotateZ(90deg);
                background: rgba(255,255,255,0.15);
            }

            &:hover {

                div {
                    transform: rotateZ(270deg);
                }

                svg {

                    rect {

                        &:nth-of-type(2) {
                            transition: y 1.4s;
                            y: -48px;
                            stroke: c('secondary-base');
                        }
                    }
                }
            }

            svg {

                rect {
                    width: 0.5px;
                    stroke: c('menu-color');

                    &:nth-of-type(1) {
                        transform: rotateZ(45deg);
                        transform-origin: bottom left;
                        x: 1px;
                        height: 42px;
                        y: -6px;
                    }

                    &:nth-of-type(2) {
                        //opacity: 0;
                        height: 42px;
                        y: 48px;
                    }

                    &:nth-of-type(3) {
                        transform: rotateZ(-45deg);
                        transform-origin: bottom right;
                        x: 45px;
                        height: 42px;
                        y: -6px;
                    }
                }
            }

        }

        &.cursor--entered {

        }

        .navicon__container {
            border-radius: 50%;
            width: 72px;
            height: 72px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            transition: 500ms ease;
        }
    }

    svg {
        width: 100%;
        max-width: 42px;
        height: 42px;

        rect {
            fill: transparent;
            stroke: c('base-2');
            stroke-width: 2px;
            transition: all 700ms cubic-bezier(.165,.84,.44,1), fill 200ms cubic-bezier(.165,.84,.44,1), width 200ms;
        }
    }
}
