.case-study {
    padding-bottom: 6em;

    article .container {
        max-width: $section-width;
        padding: 0;

        img {
            border-radius: 0.125em;
            box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
        }
    }

    &__cover {
        margin: 3em auto;

        .container {
            padding: 0;
        }

        img {
            box-shadow: 0px 4px 6px 0px rgba(50, 50, 93, 0.09), 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
            border-radius: 0.25em;
        }
    }

    &__meta {

        p {
            text-align: right;
            margin: 0;
        }
    }

    &__details {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
    }

    &__content {

        .container > div {
            min-height: 50vh;
        }

        img {
            margin-bottom: -1em;
        }
    }

    &__link {
        margin: 6em auto 4vh;
        text-align: center;

        .container {
            max-width: 1400px;
            padding: 0;
        }

        a {
            @extend .font-size__3;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 5vh 5vw;
            color: #fff;
            border-radius: 0.25em;
            background-color: c('sextet-base');
            background-image: url('../img/noise.png');
            background-blend-mode: overlay;
            text-decoration: none;
            transition: 300ms ease;

            span {
                margin-right: 0.5em;
            }

            &:hover,
            &:focus {
                color: #fff;
            }
        }

        &--eternity {

            a {
                background-color: #ef4538;

                &:hover,
                &:focus {
                    background-color: darken(#ef4538, 8%);
                }
            }
        }
    }
}
