.impression {
    position: relative;
    min-height: 100vh;

    .container {
        max-width: 1150px;
        padding: 5vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @media (min-width: 2000px) {
            max-width: 1600px;
        }
    }

    &__contents {
        padding: 1.5em;
        text-align: center;
    }

    &__intro {
        @extend .font-size__1;
        margin: 0;
        color: c('base-2');
        font-weight: 300;
        line-height: 1;

        &:first-of-type {
            font-size: s('large-5');
        }

        @media (min-width: 2000px) {
            font-size: s('large-4');
        }
    }

    h1 {
        position: relative;
        color: c('base-2');
        line-height: 1.3;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
        width: 100%;
        font-weight: 300;
        margin: 0;
        overflow: hidden;

        @media (min-width: 2000px) {
            font-size: s('large-6');
        }

        @for $i from 1 through 6 {
            span:nth-child(#{$i}) {
                animation-delay: 1.2s + $i * 0.15s;
            }
        }

        @for $i from 1 through 6 {
            $value: 12;
            $x: $value - $i;
            span:nth-child(#{$x}) {
                animation-delay: 1.2s + $i * 0.15s;
            }
        }

        span {
            display: block;
            float: left;
            animation: move-up 0.8s forwards;
            animation-delay: 1.2s;
            animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
            transform: translate(0, 115%);

            @keyframes move-up {
                100% {
                    transform: translate(0, 0);
                }
            }

        }

        b {
            position: relative;

            &::after {
                content: '';
                display: block;
                position: absolute;
                bottom: 0px;
                left: 0;
                height: 0.55rem;
                width: 100%;
                max-width: 0;
                background: rgba(34, 34, 34, 0.4);
                z-index: -1;
                animation: move-right 0.8s forwards;
                animation-delay: 3.05s;
                animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

                @keyframes move-right {
                    100% {
                        max-width: 100%;
                    }
                }
            }

        }
    }

    &__background {

        &--timing-1 {
            height: 50vh;
            width: 50vh;

            svg {
                display: block;

                path {
                    fill: none;
                    stroke: c('secondary-base');
                    stroke-miterlimit: 10;
                    stroke-width: 300px;
                    stroke-dasharray: 121.5%;
                    stroke-dashoffset: 121.5%;
                    animation: arc 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
                    animation-delay: 1s;

                    @keyframes arc {
                        0% {
                            stroke-dashoffset: 121.5%;
                        }
                        50% {
                            stroke-dashoffset: 0%;
                        }
                        100% {
                            stroke-dashoffset: -121.5%;
                        }
                    }
                }
            }
        }

        &--layer-1 {
            position: absolute;
            bottom: 0;
            left: 0;
        }

        &--layer-2 {
            position: absolute;
            top: 0;
            right: 0;
            transform: rotate(180deg);
        }
    }

    &__summary {
        @extend .font-size__4;
        max-width: 60%;
        margin: 0 auto;
        margin-top: 1.5em;
    }

    .buttons {
        width: 100%;
        transform-style: preserve-3d;
        will-change: transform;
        justify-content: center;

        a {
            font-size: 1.414rem;
            color: c('base-2');
            text-decoration: none;
            padding: 0.85em 0.75em;
            margin-right: 0.75em;
            border-radius: 0.5em;
            will-change: transform;
            transition: background 200ms ease, color 200ms ease;
            overflow: hidden;

            span {
                width: min-content;
            }

            &.cursor--entered {
                color: c('grey-0');
                background: c('base-2');
            }
        }
    }
}
