.page-heading {
    position: relative;
    height: 75vh;

    .container {
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    &__heading {
        @media (min-width: 2000px) {
            font-size: s('large-7');
        }
    }

    &__summary {
        padding-left: 10vw;
        font-size: s('large-3');
    }

    &__large-letter {
        position: absolute;
        left: 20vw;
        font-size: 45vw;
        line-height: 1ch;
        font-family: serif;
        user-select: none;
        pointer-events: none;
        color: #000;
        opacity: 0.045;
    }
}
