.page-heading {
    text-align: center;
    margin-bottom: 10vh;
    padding-top: 10vh;
    max-width: 46em;

    &__left {
        text-align: left;
    }

    .container {
        padding: 0;
    }

    &__title {

    }

    &__summary {

    }
}
