.project-list {
	.container {
		max-width: 100%;
	}

	.section-heading {
		text-align: center;

		h2 {
			@media (min-width: 2000px) {
				font-size: s('large-6');
			}
		}
	}

	.group {
	}

	.project-list-card {
		@extend .font-size__2;
		font-weight: 600;
		line-height: 1.25;
		color: inherit;
		text-decoration: none;
		opacity: 0.3;
		word-wrap: break-word;
		word-break: break-all;
		overflow-wrap: break-word;
		white-space: -webkit-pre-wrap;
		hyphens: manual;
		transition: 200ms ease;

		&[href]:hover,
		&[href]:focus {
			opacity: 1;
		}

		&:not([href]):hover,
		&:not([href]):focus {
			cursor: not-allowed;
			opacity: 0.15;
		}

		&[href]:nth-of-type(odd) {
			&:hover,
			&:focus {
				color: c('secondary-base');
			}
		}
		&[href]:nth-of-type(even) {
			&:hover,
			&:focus {
				color: c('primary-base');
			}
		}
	}
}
