.project-list {


    .container {

    }

    .group {

    }

    .project-list-card {

        &__link {
            display: flex;
            color: inherit;
            text-decoration: none;

            &:hover,
            &:focus {

                .project-list-card {

                    &__date,
                    &__role {
                        opacity: 1;
                    }
                }
            }
        }

        p,
        h4,
        span {
            margin-top: 0;
            margin-bottom: 0;
            line-height: 1.65;
        }

        &__date,
        &__role {
            opacity: 0;
            transition: 300ms ease;
        }

        &__date {
            margin-right: 1em;
        }

        &__title {

        }

        &__role {
            display: flex;
            align-items: center;
            margin-left: 0.5em;

            span {
                display: flex;
                align-items: center;
                padding: 0.25em 0.75em;
                margin-right: 0.25em;
                font-size: 0.875rem;
                font-weight: 600;
                border-radius: 1em;
                color: #fff;

                &[data-type="Design"] {
                    background: c('primary-base');
                }

                &[data-type="Development"] {
                    background: c('secondary-base');
                }
            }
        }
    }
}
