.services {
    color: #fff;
    background: c('base-2');
    padding-bottom: 6em;
    margin: 0;

    .container {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .section-heading {
        text-align: center;

        h2 {
            color: #fff;
        }

        p {
            color: c('base-0')
        }
    }

    .group {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2em;
        margin-top: 3em;

        p {
            font-size: s('large-0');
            color: c('base-0')
        }
    }

    &__card {
        background: c('base-1');
        padding: 3em;

        h3 {
            @extend .font-size__4;
            color: #fff;
            opacity: 0.75;
            margin-top: 0;
        }
    }
}
