.slice {

    .accordion {
        margin-top: 4vh;

        &__block {
            display: grid;
            grid-template-columns: 2.5em auto;
            grid-gap: 1em;
            margin-bottom: 1em;
            padding-bottom: 1em;
            align-items: flex-start;
            border-bottom: 2px solid c('grey-0');

            &:last-of-type {
                border-bottom: none;
            }

            &--active {

                &.accordion {

                    &__action {

                        span {
                            color: c('primary-base')
                        }

                        .icon {
                            opacity: 1;
                            transform: rotate(45deg);
                        }
                    }
                }

                & + .accordion__panel {
                    padding: 1em 0;
                }
            }
        }

        &__value {
            @extend .font-size__4;
            opacity: 0.5;
            line-height: 1.2;
        }

        &__action {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 0;
            color: c('base-2');

            span {
                display: block;
                @extend .font-size__4;
                pointer-events: none;
                transition: 300ms cubic-bezier(.165,.84,.44,1);
                transform-origin: center;
            }

            .icon {
                opacity: 0.5;
            }
        }

        &__panel {
            max-height: 0;
            height: 100%;
            overflow: hidden;
            transition: max-height 300ms cubic-bezier(.165,.84,.44,1), padding 300ms cubic-bezier(.165,.84,.44,1);
        }
    }
}
