.slice {
    margin: 12vh 0;
    .banner {
        &__full_width {
            .container {
                max-width: 100%;
            }
        }

        .container {
            padding: 0;
        }
    }
}
