.slice {
    .image-text {
        margin: 12vh 0;

        .group {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 3vw;
            align-items: center;
            margin: 6vh 0;

            &:nth-of-type(even) {
                .image-text__image {
                    order: 1;
                }
            }
        }

        &__reverse {
            .group {
                &:nth-of-type(even) {
                    .image-text__image {
                        order: unset;
                    }
                }
                &:nth-of-type(odd) {
                    .image-text__image {
                        order: 1;
                    }
                }
            }
        }
    }
}
