.slice {

    .images {
        margin: 5vh auto;
        max-width: 1400px;

        &__two_columns {
            //max-width: 1600px;
            
            .group {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 2vw;
            }
        }

        &__three_columns {
            //max-width: 1600px;

            .group {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 2vw;
            }
        }

        &__four_columns {
            //max-width: 1600px;

            .group {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 2vw;
            }
        }
    }
}