.slice {
    margin: 12vh 0;
    .images {
        .container {
            padding: 0;
        }

        &__two_columns {
            .group {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 3vw;

                &[data-count='3'],
                &[data-count='5'] {
                    > *:first-of-type {
                        grid-column: span 2;
                    }
                }
            }
        }

        &__three_columns {
            .group {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 3vw;
            }
        }
    }
}
