.slice {

    .image-text {
        max-width: 1400px;

        &__alternate {

            .group {
                display: grid;
                grid-template-areas: 'first second';
                grid-template-columns: repeat(2, 1fr);
                grid-auto-flow: dense;
                grid-gap: 4vw;
                margin: 8vh auto;
                align-items: center;

                .image-text__title {
                    margin-top: 0;
                }

                .image-text__details {
                    padding: 2vw;
                }

                &:nth-of-type(odd) {

                    .image-text__image {
                        grid-area: second;
                    }

                    .image-text__details {
                        grid-area: first;
                    }
                }
            }
        }

        &__stack {
            max-width: 1400px;

            .group {
                margin: 8vh auto;
            }

            .image-text {

                &__image {

                }

                &__details {
                    margin-top: 4vw;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-gap: 2vw;
                }

                &__title {
                    margin-top: 0;
                }
            }
        }
    }
}
