.slices {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .container {
        max-width: 100%;
        padding: 0;
    }

    article & {
        
        .slice {
            margin-bottom: 1em;
        }
    }
}